.nav-logo img{
    width: 4rem;
    margin: 1rem;
}

.navbar{
    display: flex;

}

.nav-menu li{
    text-decoration: none;
    display: inline;
    margin-right: 5vw;

}

.nav-menu{
    margin-top: 2rem;
}

.icons{
    display: flex;
}

.user-icon, .cart-icon{
    width: 2rem;
    display: inline;
    margin-left: 1rem;
    display: inline;
    margin-top: 1.5rem;
    
}

